.details {
    text-align: left;
}

.back {
    color: none;
    cursor: pointer;
    padding: 20px;
}

.main-container {
    display: flex;
    flex-direction: row;
}

.left-section{
    width: 40%;
    text-align: center;
    margin-left: 0px;
}

.right-section {
    width: 50%;   
}

.bold {
    font-weight: bold;
}