/* .main-container {
    display: flex;
    flex-direction: row;
} */

.details {
    text-align: left;
}

.back {
    color: none;
    cursor: pointer;
    padding: 20px;
}

.left-section{
    width: 40%;
    text-align: center;
    margin-left: 0px;
}

.right-section {
    width: 50%;   
    margin-left: 450px;   
    margin-top: -300px;
}

.bold {
    font-weight: bold;
}